body {
    background-color: rgba(255, 255, 255, 0.486);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#right-side {
    margin-left:auto;
}

img.logo {
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  background-color: red;
}

h1 {
    color: rgb(1, 19, 10);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
}

h2 {
    color: rgb(1, 19, 10);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

h3 {
    color: rgb(1, 19, 10);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

h4 {
    color: rgb(1, 19, 10);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

h5 {
    color: rgb(1, 19, 10);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

.icon {
    width:30px;
    height:auto;
    vertical-align: middle;
}

input {
        width:100px;
        height:auto;
        vertical-align: middle; 
        padding: 10px 50px;
}




