body {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* #right-side {
    margin-left:auto;
} */

img.logo {
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  background-color: red;
}

h1 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    text-align: center;
}

/* h2 {
  
}*/

h3 {
    color: rgb(1, 19, 10);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

h4 {
    color: rgb(1, 19, 10);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

h5 {
    color: rgb(1, 19, 10);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

.icon {
    width:30px;
    height:auto;
    vertical-align: middle;
}

input {
        width:100px;
        height:auto;
        vertical-align: middle; 
        padding: 10px 50px;
}

.artist-container {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    /* border: 2px red solid; */
    background-color: black;
    width: 100%;
    gap: 30px;
  }

   .artist-card {
   /* margin: 10%;*/
    /* padding: 20px; */
    background-color: black;
    background-size: auto;
    width: 20%;
  }

  /*.artist-2 {
    margin: 10%;
    padding: 20px;
    background-color: white;
  }

  .artist-3 {
    margin: 10%;
    padding: 20px;
    background-color: white;
  }

  .artist-4 {
    margin: 10%;
    padding: 20px;
    background-color: white;
  }

  .artist-5 {
    margin: 10%;
    padding: 20px;
    background-color: white;
  }









 */
